//Normalize css
@import "@/styles/normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,800;0,900;1,200;1,400;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=The+Nautigal:wght@700&display=swap');
//-------------------------------
//-----------VARIABLES-----------
//-------------------------------

$red:#e63946;
$dark-red :#840032;
$white: white;
$orange: #e59500;
$dark-blue: #14213D;
$grey: #E5E5E5;


$bg: #ffffff;
$bg2: #e5e5e5;
$txt: #14213d;
$highlight: #fca311;

//---------------------------------
//-----------BREAKPOINTS-----------
//---------------------------------

@mixin width-over($_min-width) {
    @media screen and (min-width: $_min-width) {
        &{ @content; }
    }
}

@mixin width-under($_max-width) {
    @media screen and (max-width: $_max-width) {
        &{ @content; }
    }
}


//----------------------------------
//-----------GLOBAL STYLE-----------
//----------------------------------

*{
    font-family: 'Quicksand', sans-serif;
    color:$txt;
}
.highlight{
    background-color:$highlight;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}